html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#destination {
    font-size: 22px;
    height: 48px;
    width: 800px;
}